{% extends 'base.html.twig' %}

{% block body %}
    Admin panel
{#    <div>Username - {{ user.username }}</div>
    <div>Email - {{ user.email }}</div>
    <div>Role - {{ user.roles.0 }}</div>#}
{% endblock %}