{% extends 'base.html.twig' %}

{% block body %}
    {% include 'AdminBundle::menu.html.twig' %}
    Posts
    {% for post in posts %}
        <li><a href="{{ path('admin_post', {'id': post.id}) }}">{{ post.name }}</a></li>
        <li>Date post - {{ post.postDate | date() }}</li>
        <li>Excerpt - {{ post.excerpt }}</li>
    {% endfor %}
{% endblock %}