{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <div><a href="{{ path('admin_panel') }}">Admin panel</a></div>
    {% endif %}
    {% block user_info %}
        {% include 'AuthBundle::user_info.html.twig' %}
    {% endblock %}
    {% if is_granted('ROLE_USER') %}
        {% block left_sidebar %}
            <ul>
                <ul>
                    Post types
                    {{ render(controller('UserBundle:Menu:postTypesList')) }}
                </ul>
            </ul>
        {% endblock %}
        {% block menu %}
            <ul>
                <ul>
                    Posts
                    {{ render(controller('UserBundle:Menu:postsList')) }}
                </ul>
            </ul>
        {% endblock %}
        {% block right_sidebar %}
            right
        {% endblock %}
    {% endif %}
{% endblock %}